/* list */

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

thead:after {
    content: "";
    display: block;
    height: 0.5em;
}

thead tr {
    background-color: royalblue;
    color: aliceblue;
    font-weight: bold;
}

thead th:first-child {
    border-radius: 4px 0 0 4px;
}

thead th:last-child {
    border-radius: 0 4px 4px 0;
}

th {
    padding: 6px;
}

tr td:last-child,
tr th:last-child {
    text-align: right;
}

tr:nth-child(even) {
    background: #efefef;
}

tbody tr:hover {
    background-color: #e2e2e2;
}

th.half {
    width: 50%;
}
