<h2>Balance sheet:</h2>
<div *ngIf="!balanceSheet.isEmpty()">
    <ul>
        <li *ngFor="let entry of balanceSheet.sheet">
            <div>
                <div class="type">
                    <div>{{ service.getTypeIcon(entry.type) }}</div>
                    <div>{{ service.getTypeName(entry.type) }}</div>
                </div>
                <div class="value" [ngClass]="service.isTotal(entry.type) ? 'total' : ''" [ngClass]="service.getValueColor(entry.value)">
                    {{ entry.value }}
                </div>
            </div>
        </li>
    </ul>
    <div>
        <app-balance-repartition-chart [balanceSheet]="balanceSheet"></app-balance-repartition-chart>
    </div>
</div>
<p *ngIf="balanceSheet.isEmpty()">No balance yet!</p>
<div *ngIf="!balanceSheet.isEmpty()">
    <app-balance-stats></app-balance-stats>
</div>