<h2>Balance sheet:</h2>
<div *ngIf="!balanceSheet.isEmpty()">
    <ul>
        <li *ngFor="let entry of balanceSheet.sheet">
            <div>
                <div class="type">{{ service.getTypeIcon(entry.type) }}</div>
                <div class="amount" [ngClass]="service.getAmountColor(entry.amount)">{{ entry.amount }}</div>
            </div>
        </li>
        <li>
            <div>
                <div class="type">⚖️ Total</div>
                <div class="total" [ngClass]="service.getAmountColor(balanceSheet.total)">{{ balanceSheet.total }}</div>
            </div>
        </li>
    </ul>
    <div>
        <app-balance-repartition-chart [balanceSheet]="balanceSheet"></app-balance-repartition-chart>
    </div>
</div>
<p *ngIf="balanceSheet.isEmpty()">No balance yet!</p>
<div *ngIf="!balanceSheet.isEmpty()">
    <app-balance-stats></app-balance-stats>
</div>