<div>
  <h2>Add a new transfer:</h2>
  <form [formGroup]="transferForm" (ngSubmit)="createTransfer()">
    <label for="description">*Description: </label>
    <input id="description" placeholder="Transfer to savings account" formControlName="description" required />
    <label for="date">Date: </label>
    <input id="date" type="date" formControlName="date" />
    <label for="amount">*Amount: </label>
    <div class="unit-input">
      <input id="amount" type="number" min="-1000" max="1000" placeholder="50" formControlName="amount" required />
      <span class="unit">€</span>
    </div>
    <label for="type">*Type: </label>
    <select name="type" formControlName="type" required>
      <option *ngFor="let type of transferTypes" [value]="type.value">
        {{ type.name }}
      </option>
    </select>
    <label for="status">*Status: </label>
    <select name="status" formControlName="status" required>
      <option *ngFor="let status of transferStatus" [value]="status.value">
        {{ status.name }}
      </option>
    </select>
    <br />
    <div>
      <p>*: mandatory fields</p>
      <button type="submit" [disabled]="!transferForm.valid">Add transfer</button>
    </div>
    <p><b>Result:</b> {{ error }}</p>
  </form>
</div>