/* item */

div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

div.editor {
    display: inline-block;
}

td.amount:before {
    content: "💰";
    margin-right: 5px;
}

td.amount:after {
    content: "€";
}

.green {
    color: rgb(76, 141, 76);
}

.red {
    color: rgb(148, 80, 80);
}

.yellow {
    color: rgb(136, 136, 64);
}

button.edit,
button.delete {
    padding: 4px 8px;
}
