<td *ngIf="!showTransferEditor">{{ service.getTypeIcon(transfer.type) }}</td>
<td *ngIf="!showTransferEditor">{{ service.getStatusIcon(transfer.status) }}</td>
<td *ngIf="!showTransferEditor">{{ transfer.description }}</td>
<td *ngIf="!showTransferEditor">{{ service.getFormattedDate(transfer.date) }}</td>
<td class="value" *ngIf="!showTransferEditor" [ngClass]="service.getValueColor(transfer.value)">{{ transfer.value }}</td>
<td colspan="5" *ngIf="showTransferEditor">
    <div class="editor">
        <app-transfer-editor [transfer]=transfer></app-transfer-editor>
    </div>
</td>
<td class="actions">
    <div>
        <button class="delete" title="Delete" (click)="deleteTransfer()">❌</button>
        <button class="edit" title="Edit" (click)="editTransfer()">✏️</button>
    </div>
</td>