<td *ngIf="!showTransferEditor">{{ transfer.getTypeIcon() }}</td>
<td *ngIf="!showTransferEditor">{{ transfer.getStatusIcon() }}</td>
<td *ngIf="!showTransferEditor">{{ transfer.description }}</td>
<td *ngIf="!showTransferEditor">{{ transfer.getFormattedDate() }}</td>
<td class="value" *ngIf="!showTransferEditor" [ngClass]="transfer.getValueColor()">{{ transfer.value }}</td>
<td colspan="5" *ngIf="showTransferEditor">
    <div class="editor">
        <app-transfer-editor [transfer]=transfer></app-transfer-editor>
    </div>
</td>
<td class="actions">
    <div>
        <button class="delete" title="Delete" (click)="deleteTransfer()">❌</button>
        <button class="edit" title="Edit" (click)="editTransfer()">✏️</button>
    </div>
</td>