/* item */

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.top {
    background-color: royalblue;
    color: aliceblue;
    font-weight: bold;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div.data {
    width: 90%;
}

div.editor {
    display: block;
    width: 100%;
}

div.amount:before {
    content: "💰";
    margin-right: 10px;
}

div.amount:after {
    content: "€";
}

.green {
    color: rgb(76, 141, 76);
}

.red {
    color: rgb(148, 80, 80);
}

.yellow {
    color: rgb(136, 136, 64);
}

button.edit,
button.delete {
    padding: 4px 8px;
}
